/*En la hoja de CSS es recomendable usar clases
porque los id son mas lentos y la hacen mas pesada*/
/* apply a natural box layout model to all elements, but allowing components to change */
/*? Link box sizing: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    /*Responsivo*/
    max-width: 100%;
}

p{
    font-size: 16px;
    /*Interlineado*/
    line-height: 2;
}

.boton{
    background-color: #00b8e4;
    padding: 10px 60px;
    display: inline-block;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    /*Delay en la transicion del hover*/
    transition: background-color .3s ease-in-out;
}

.boton:hover{
    background-color: #1488a5;
}

.site-header{
    /*Padding: Arriba, derecha, abajo, izquierda*/
    /*Padding: Arriba-abajo, der-izq*/
    padding: 20px 0;
}

.contenedor{
    max-width: 1200px;
    /*Tecnica para centrar layouts margin: 0 auto;*/
    margin: 0 auto;
    /*Una forma para solucionar el float
    overflow: auto;*/
}

/*Otra forma para solucionar el float*/
.clearfix::after{
    content: '';
    clear: both;
    display: block;
    /*Se puede usar cualquiera
    display: block;*/
}

/**Navegacion*/
.barra{
    background-color: #DB008D;
    margin-top: 40px;
}

.navegacion-principal a{
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
    display: block;
    text-align: center;
    padding: 20px;
}

/*!Responsivo*/
@media (min-width:768px){
    .navegacion-principal a{
        /*!Aca solo se reescribe lo que se desea reescribir*/
        display: inline-block;
    }
}

.navegacion-principal a:hover{
    background-color: #00b8e4;
}

/**Contenedores principales*/
.contenido-principal{
    margin-top: 40px;
}

.contenido-principal,
.sidebar{
    padding: 20px;
}

/*Ya no se usa el tamaño en px, no es responsivo*/
/*!Responsivo*/
@media (min-width: 768px){
    .contenido-principal{
        width: 70%;
        float: left;
        padding-right: 0 60px 0 0;
        /*Box sizing se usa cuando se aplique padding o border no se afecte el tamaño principal*/
    }
    .sidebar{
        /*No se puede poner mas de 400px porque el total es de 1200px.
        NUNCA se debe sobrepasar el tamaño total*/
        width: 30%;
        float: right;
        padding: 0;
        margin-top: 40px;
    }
}

/**Entradas de blog*/
h2{
    color: #00b8e4;
    margin-bottom: 20px;
}

.entrada{
    margin-bottom: 60px;
}

/*Para la ultima entrada*/
.entrada:last-of-type{
    margin-bottom: 0;
}
.entrada img{
    display: block;
}

/*!Responsivo*/
@media (min-width: 480){
    .entrada img{
        width: 300px;
        float: left;
        margin: 0 30px 0 0;
    }
}

.entrada p{
    text-align: justify;
}

/**Sidebar*/
.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar ul li{
    padding: 10px;
}

.sidebar ul li:hover{
    background-color: #00b8e4;
}
.sidebar ul li a{
    color: #00b8e4;
    font-size: 18px;
    text-decoration: none;
}

/*Es cuando hace hover en el li (Todo el cuadrito)*/
.sidebar ul li:hover a{
    color: #ffffff;
}

/**Footer*/
.footer-sitio{
    background-color: #DB008D;
    padding-top: 40px;
    margin-top: 60px;
    color: #ffffff;
    text-align: center;
}

.footer-sitio h2{
    color: #ffffff;
}

.footer-sitio a{
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
    margin-right: 20px;
}

.footer-sitio a:hover{
    background-color: #b10474;
}

.footer-sitio a:last-of-type{
    margin-right: 0;
}
@media (min-width: 768px){
    .footer-sitio .nosotros{
        float: left;
        width: 30%;
        text-align: left;
    }

    .footer-sitio .menu{
        float: right;
        width: 50%;
        text-align: right;
    }
}

.copyright{
    background-color: #b10474;
    margin: 50px 0 0 0;
    padding: 20px 0;
}